@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 99vw;
    height: auto;
    margin: 0;
}


/* LA GROSSE TETE */

header {
    position: sticky;
    top: 0;
    background-color: white;

    /*POUR EVITER QUE LES BOUTONS PASSENT DEVANT, ON A DEFINI UNE NOUVELLE VALEUR SUR L'AXE Z*/

    z-index: 2;
    font-family: "Roboto", sans-serif;
}

.connection {
    max-height: 13.5rem;
    display: grid;
    grid-template-columns: 1fr 10fr 3fr;
    gap: 1rem;
}

.logo {
    text-align: center;
}

.barre {
    height: 80%;
    background-color: #F5F4F5;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    align-items: center;
}

.connect {
    display: flex;
    /* justify-content: space-around; */
}

.connect p {
    text-align: center;
    font-size: 0.7rem;
}

.question {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.magasin {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.compte {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.panier {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

/*HOVER POUR QUE LES ELEMENTS CHANGE QUAND ON PASSE LA SOURIS DESSUS*/

.question:hover {
    background-color: lightgray;
}

.magasin:hover {
    background-color: lightgray;
}

.compte:hover {
    background-color: lightgray;
}

.panier:hover {
    background-color: lightgray;
}

.nav {
    height: 3rem;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0.9rem;
}

/*NOUVEAU HOVER POUR LES TEXTE*/

.navbleu:hover {
    color: #3643BA;
}

.bonplan:hover {
    background-color: #e3262f3f;
}

.bandeau {
    display: flex;
    height: 2.5rem;
    width: 100%;
    background-color: #FFCD4E;
    /* justify-content: center;
    align-items: center; */
    font-size: 0.9rem;
}

.texte {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 40%;
}

.icone {
    margin-left: 26rem;
}

.selection {
    padding-left: 1rem;
    font-weight: bold;
    text-decoration: underline;
    justify-content: center;
    align-items: center;
}

.selection:hover {
    text-decoration: underline;
}


/* LE BON GROS CONTENUE */


.accueil {
    max-width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 13%;
    margin-right: 17%;
    margin-top: 3%;
    margin-bottom: 4%;
    gap: 1%;
}

.image1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    position: relative;
}

.image2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
}

.image3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
}

.image1 .blue1 {
    position: absolute;
    top: 86%;
    left: 3%;
    height: 3rem;
    width: 10rem;
    border-radius: 0;
    background-color: white;
    border-color: white;
    border-style: none;
}

.image1 .blue2 {
    position: absolute;
    top: 86%;
    left: 22%;
    height: 3rem;
    width: 16rem;
    border-radius: 0;
    background-color: white;
    border-color: white;
    border-style: none;
}

.image2 .blue1 {
    position: absolute;
    top: 73%;
    left: 4%;
    height: 3rem;
    width: 8rem;
    border-radius: 0;
    background-color: white;
    border-color: white;
    border-style: none;
}

.image3 .blanc1 {
    position: absolute;
    top: 73%;
    left: 4%;
    height: 3rem;
    width: 6rem;
    border-radius: 0;
    background-color: #3643BA;
    border-color: #3643BA;
    border-style: none;
    color: white
}

.image3 .blanc2 {
    position: absolute;
    top: 73%;
    left: 29%;
    height: 3rem;
    width: 6rem;
    border-radius: 0;
    background-color: #3643BA;
    border-color: #3643BA;
    border-style: none;
    color: white
}




/* ON PASSE AU CATEGORIE */

.categorie {
    display: flex;
    justify-content: space-between;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.catego {
    height: 4rem;
    width: 14rem;
    border-radius: 0;
    background-color: #F1F0EE;
    border-color: #F1F0EE;
    border-style: none;
    font-size: 1.2rem;
}

/* PUIS LES IMAGES DE LA PROMO */

.promo {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 15rem;
    margin-right: 17rem;
    margin-top: 3%;
    gap: 1rem;
}

.imageA {
    position: relative;
}

.imageB {
    position: relative;
}

.imageC {
    position: relative;
}

.imageA .blue1 {
    position: absolute;
    top: 86%;
    left: 1%;
    height: 3rem;
    width: 8rem;
    border-radius: 0;
    background-color: #323894;
    color: white;
    border-color: #323894;
    border-style: none;
}

.imageB .blue1 {
    position: absolute;
    top: 86%;
    left: 2%;
    height: 3rem;
    width: 8rem;
    border-radius: 0;
    background-color: #323894;
    color: white;
    border-color: #323894;
    border-style: none;
}

.imageC .blue1 {
    position: absolute;
    top: 86%;
    left: 2%;
    height: 3rem;
    width: 8rem;
    border-radius: 0;
    background-color: #323894;
    color: white;
    border-color: #323894;
    border-style: none;
}

/*HOVER POUR LES BOUTONS*/

.accueil .blue1:hover {
    background-color: rgb(201, 201, 201);
    border-color: rgb(201, 201, 201);
}

.blue2:hover {
    background-color: rgb(201, 201, 201);
    border-color: rgb(201, 201, 201);
}

.blanc1:hover {
    background-color: #1d215a;
    border-color: #1d215a;
}

.blanc2:hover {
    background-color: #1d215a;
    border-color: #1d215a;
}

.promo .blue1:hover {
    background-color: #1d215a;
    border-color: #1d215a;
}

/* BONUS JSP COMMENT NOMMER CETTE CATEGORIE*/

.bleu {
    color: #3643BA;
}

.rouge {
    color: #E3262F;
}

.vert {
    color: #4D6F56;
}

.logoG {
    font-size: 1.2rem;
}

button {
    font-weight: bold;
}